p{
    display: flex;
    justify-content: flex-start;
}

h5{
    display: flex;
    justify-content: flex-start;
}

#pagination-main {
    margin-top: 50px;
    margin-bottom: 50px;
}
.card-custom {
    border: none;
    cursor: pointer;
}

.btn-custom {
    color: #025DB8;
    background: white;
    border: 1px solid #025DB8;
    font-size: 30px;
    font-weight: bold;
}

.addToFavBtn {
    background: #025DB8;
    text-align: center;
    color: white;
    border: none;
    position: absolute;
    right: 0;
    /* display: none; */
}

.addToFavBtn:hover {
    color: white;
}

.btn-custom span {
    font-size: 20px;
}

.card-body-custom {
    text-align: center !important;
    color: #025DB8;
    font-weight: bold;
}

.title1 {
    margin-top:20px;
    color: #025DB8;
    font-weight: bold;
    text-align:center;
}

.carousel-item {
    /* width: 100vh !important; */
    height: 90vh;
    align-items: center;
}