@font-face {
    font-family: SFProDisplay-Bold;
    src: url('/public/fonts/SFProDisplay/SFProDisplay-Bold.ttf');
}
@font-face {
    font-family: SFProDisplay-Light;
    src: url('/public/fonts/SFProDisplay/SFProDisplay-Light.ttf');
}
@font-face {
    font-family: SFProDisplay-Medium;
    src: url('/public/fonts/SFProDisplay/SFProDisplay-Medium.ttf');
}
@font-face {
    font-family: SFProDisplay-Regular;
    src: url('/public/fonts/SFProDisplay/SFProDisplay-Regular.ttf');
}
@font-face {
    font-family: SFProDisplay-Semibold;
    src: url('/public/fonts/SFProDisplay/SFProDisplay-Semibold.ttf');
}

p{
    display: flex;
    justify-content: flex-start;
}
a.btn{
    font-family: SFProDisplay-Light;
}
h5{
    display: flex;
    justify-content: flex-start;
}

#pagination-main {
    margin-top: 50px;
    margin-bottom: 50px;
}
.card-custom {
    border: none;
    cursor: pointer;
}

.btn-custom4 {
    color: var(--grey1);
    border: 1px solid var(--grey1);
    border-radius: 20px;
    font-size: 18px;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-right: 15px;
    padding-left: 15px;
}

.btn-custom2 {
    color: var(--grey1);
    border: 1px solid var(--grey1);
    border-radius: 50px;
    font-size: inherit;
}
/* .btn-custom span {
    font-size: 20px;
} */
#products-left {
    color: var(--orange);
    text-decoration: none;
}

#products-right {
    color: var(--orange);
    text-decoration: none;
}
.addToFavBtn {
    background: #025DB8;
    text-align: center;
    color: white;
    border: none;
    position: absolute;
    right: 30px;
    /* display: none; */
    margin-top: 5px;
    font-family: SFProDisplay-Regular;
}

/* .addToFavBtn:hover {
    color: white;
} */

.card-body-custom {
    text-align: center !important;
    color: var(--grey1);
    background-color: #f8f8f8;
    min-width: 150px;
    min-height: 350px;
    max-height: 350px;
}

.card-footer-custom {
    text-align: center;
    border: none;
    padding-top: 40px;
    padding-bottom: 20px;
}
/* @media (min-width: 768px){
    .card-footer-custom {
        text-align: center;
        border: none;
        padding-top: 100px;
    }
} */
.card-product-title {
    font-weight: bold;
    display: flex;
    justify-content: center;
}

.card-product-description {
    font-family: SFProDisplay-Light;
    max-width: 300px;
    max-height: 300px;
    display: flex;
    justify-content: center;
    margin: auto;
}

.card-body-custom img {
    border-radius: 0px !important;
    margin-bottom: 5px;
    max-height: 200px;
    max-width: 250px;
}

.title1 {
    margin-top:50px;
    margin-bottom:30px;
    color: var(--grey1);
    font-weight: bold;
    text-align: center;
}


#categories-left {
    color: var(--orange);
    display: flex;
    justify-content: center;
    align-items:center;
}
#categories-right {
    color: var(--orange);
    display: flex;
    justify-content: space-between;
    align-items:center;
}

.col-2 {
    -ms-flex: 0 0 8.333333%;
    flex: 0 0 8.333333%;
    max-width: 8.333333%;
    display: flex;
}
.col-lg-3{
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    padding-bottom: 20px;
}
.spanUno{
    padding-bottom: 10px;
    padding-top: 15px;
    font-family: SFProDisplay-Medium;
    color: #222220;
}
/* .btn:not(:disabled):not(.disabled) {
    cursor: pointer;
    font-size: inherit;
} */

.btn-custom3 {
    color: var(--grey1);
    border: 1px solid var(--grey1);
    border-radius: 50px;
    font-size: 20px;
    font-weight: bold;
    padding-left: 20px;
    padding-right: 20px;
    float: left;
    margin-left: 20px;
    margin-bottom: 15px;
}
.modal-body {
    position: relative;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1rem;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 15px;
}

.product-modal .textDescription{
    font-family: SFProDisplay-Light;
    color: #444444;
    font-size: small;
    text-align: left;
    margin-left: 25px;
}

.product-modal h2 {
    /* font-size: x-large; */
    margin-top: 20px;
    font-size: 25px;
    text-align: left;
    margin-left: 25px;
    color: #291D29;
}
.product-modal h5 {
    font-family: SFProDisplay-Light;
    text-align: left;
    margin-left: 25px;
    color: #444444;
}
.product-img-modal {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    padding: inherit;
    min-width: fit-content;
    min-height: 390px;
    border: none;
}
.product-modal img {
    width: 80%;
    height: 400px;
    /* border-radius: 30px; */
    padding: 0;
    margin-top: 10px;
    margin-bottom: 25px;
}
.aPdf{
    color: #616161 !important;
    text-decoration: none !important;
    background-color: transparent !important;
    padding-left: 19px !important;
}

.col-lg-6.fav{
    font-family: SFProDisplay-Light;
}

.table td {
    padding: .30rem;
    vertical-align: top;
    border-top: none;
    color: #444444;
    font-family: SFProDisplay-Light;
}
#categories-left {
    color: var(--orange);
    display: flex;
    justify-content: center;
    align-items:center;
}
#categories-right {
    color: var(--orange);
    display: flex;
    justify-content: space-between;
    align-items:center;
}
.product-modal .col-lg-6.uno{
    font-family: SFProDisplay-Medium;
    width: 100%;
    min-height: 200px;
    border-radius: 30px;
    background-color:#e4e4e4;
    padding-bottom: 20px;
    padding: 10px;
}

.col-md-3 .destacados {
    position: relative;
    padding-right: 15px;
    padding-left: 15px;
    padding-bottom: 20px;
}

@media only screen and (max-width: 992px) {
    .modal-body .row {
        display: flex;
        flex-flow: row wrap-reverse;
        margin-right: -15px;
        margin-left: unset;
    }
    .addToFavBtn {
        background: #025DB8;
        text-align: center;
        color: white;
        border: none;
        position: absolute;
        right: 30px;
        /* display: none; */
        margin-top: 5px;
        font-family: SFProDisplay-Regular;
    }
}
@media (max-width: 768px){
    .col-dos {
        flex: inherit;
    }
    /* For mobile phones: */
    .product-item img {
        margin-bottom: 5px;
        max-height: 200px;
        max-width: 220px;
        border-radius: 20px !important;
        padding-top: 10px;
        margin-left: 26px;
        margin-bottom: 20px;
        margin-top: 20px;
    }

    .addToFavBtn {
        background: #025DB8;
        text-align: center;
        color: white;
        border: none;
        margin-bottom: 10px;
        position: static;
        right: 30px;
        display: block;
        /* margin-top: 50px; */
        /* font-family: SFProDisplay-Regular; */
    }
    .product-modal .col-lg-6.uno {
        font-family: SFProDisplay-Medium;
        width: 100%;
        min-height: 200px;
        max-height: 745px;
        
        border-radius: 30px;
        background-color: #e4e4e4;
        padding-bottom: 20px;
        padding: 10px;
    }
    .col-lg-6{
        position: relative;
        width: 100%;
        padding-right: 15px;
        padding-left: 15px;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    .btn-custom3 {
        color: var(--grey1);
        border: 1px solid var(--grey1);
        border-radius: 50px;
        font-size: 20px;
        font-weight: bold;
        /* padding-left: 20px; */
        /* padding-right: 20px; */
        float: left;
        margin-left: 0px;
        margin-bottom: 20px;
    }
    .col-sm-7 {
        display: flex;
        flex-flow: column;
        align-items: center;
    }

    .btn-custom2 {
        color: var(--grey1);
        border: 1px solid var(--grey1);
        border-radius: 50px;
        font-size: x-large;
        margin-bottom: 20px;
    }
    .btn-custom {
        color: var(--grey1);
        border: 1px solid var(--grey1);
        border-radius: 50px;
        font-size: 20px;
        float: left;
        margin-left: auto;
    }
}
.table-responsive {
    display: block;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    margin-left: 20px;
}
.w-100 {
    width: 100%!important;
    height: inherit;
}
.carousel-inner.modal1{
    position: relative;
    max-width: 400px;
    overflow: hidden;
    margin: auto;
    max-height: 410px;
    padding-top: 10px;
}
/* ------------css banner --------------- */

/* .carousel-item {
    height: auto;
    align-items: center;
    width:100%;

    background:url(/public/img/DESKTOP_PRODALAM.jpg) center center;
    background-size: 300px 300px;
} */

/* @media only screen and (min-width: 768px) and (max-width: 985px) {

} */

/* @media (max-width: 768px) {
    .carousel-item {
        width:100%;
        height:auto;
        background:url(/public/img/metrored_servicios.jpg) center center;
        background-size: 200px 200px;
    }
} */