p{
    display: flex;
    justify-content: flex-start;
}

h5{
    display: flex;
    justify-content: flex-start;
}

#pagination-main {
    margin-top: 50px;
    margin-bottom: 50px;
}
.card-custom {
    border: none;
    cursor: pointer;
}

.btn-custom {
    color: var(--grey1);
    border: 3px solid var(--grey1);
    border-radius: 50px;
    font-size: 20px;
    font-weight: bold;
    padding-left: 20px;
    padding-right: 20px;
}

.btn-custom span {
    font-size: 20px;
}

.addToFavBtn {
    background: #025DB8;
    text-align: center;
    color: white;
    border: none;
    position: absolute;
    right: 0;
    /* display: none; */
}

.addToFavBtn:hover {
    color: white;
}

.card-body-custom {
    text-align: center !important;
    color: var(--grey1);
    background-color: #ecf0f1;
}

.card-product-title {
    font-weight: bold;
}

.card-product-description {
    font-family: SFProDisplay-Light;
}

.card-body-custom img {
    border-radius: 0px !important;
    margin-bottom: 5px;
}

.title1 {
    margin-top:50px;
    margin-bottom:30px;
    color: var(--grey1);
    font-weight: bold;
    text-align: center;
}

.carousel-item {
    /* width: 100vh !important; */
    height: 60vh;
    align-items: center;
}