{{!< layout/default}}

{{#extend "css"}}
<link rel="stylesheet" type="text/css" href="/public/modules/categories/categories.css">
{{/extend}}

<div class="container categories-container">
    <!-- <div class="row"> -->
        <!-- <div class="col-md-1"></div> -->

        <!-- <div class="col-md-12 text-center"> -->

            <!-- <a id="categories-up" href="#">
                <i class="fas fa-chevron-up fa-2x"></i>
            </a>
            <a href="" id="numPage0"><span>#</span></a> -->

            <div class="row" id="categories-it-container"> <!--  AQUI ITERAR  -->

            </div>
            <!-- <a href="" id="numPage"><span>#</span></a>
            <a id="categories-down" href="#">
                <i class="fas fa-chevron-down fa-2x"></i>
            </a> -->

        <!-- </div> -->

        <!-- <div class="col-md-1"></div> -->
    <!-- </div> -->
</div>

{{#extend "js"}}
<script src="/public/modules/categories/categories.js"></script>
{{/extend}}