{{!< layout/default}}

{{#extend "css"}}
<link rel="stylesheet" type="text/css" href="/public/modules/categories/categories.css">
{{/extend}}

<div class="container categories-container">
    <div class="row">
        <div class="col-md-1"></div>

        <div class="col-md-10 text-center">

            <a id="categories-up" href="#">
                <i class="fas fa-chevron-up fa-2x"></i>
            </a>

            <div class="row" id="categories-it-container"> <!--  AQUI ITERAR  -->
                <div class="col-md-6 category-item-container">
                    <div class="category-item">
                        <a href="/products/producto-1">
                            <h2>Fortificaciones</h2>
                        </a>
                    </div>
                </div>

                <div class="col-md-6 category-item-container">
                    <div class="category-item">
                        <a href="/products/producto-1">
                            <h2>Fortificaciones</h2>
                        </a>
                    </div>
                </div>

                <div class="col-md-6 category-item-container">
                    <div class="category-item">
                        <a href="/products/producto-1">
                            <h2>Fortificaciones</h2>
                        </a>
                    </div>
                </div>

                <div class="col-md-6 category-item-container">
                    <div class="category-item">
                        <a href="/products/producto-1">
                            <h2>Fortificaciones</h2>
                        </a>
                    </div>
                </div>
        
                <div class="col-md-6 category-item-container">
                    <div class="category-item">
                        <a href="/products/producto-1">
                            <h2>Fortificaciones</h2>
                        </a>
                    </div>
                </div>
        
                <div class="col-md-6 category-item-container">
                    <div class="category-item">
                        <a href="/products/producto-1">
                            <h2>Fortificaciones</h2>
                        </a>
                    </div>
                </div>
        
            </div>

            <a id="categories-down" href="#">
                <i class="fas fa-chevron-down fa-2x"></i>
            </a>

        </div>

        <div class="col-md-1"></div>
    </div>
</div>

{{#extend "js"}}

{{/extend}}