{{!< layout/default}}

{{#extend "css"}}
<link rel="stylesheet" type="text/css" href="/public/modules/products/defaultPro.css">
{{/extend}}

<h2 class="tituloFav">Lista de Favoritos</h2>
    <hr>

<div class="container products-container">
    <div class="row">

            <div class="col-md-12 text-center">
                <a id="star-up" href="#">
                    <i class="fas fa-chevron-up fa-2x"></i>
                </a>

                <div class="row" id="product-star-container"> <!--  AQUI ITERAR  -->
                </div>


                <a id="star-down" href="#">
                    <i class="fas fa-chevron-down fa-2x"></i>
                </a>
            </div>
    </div>
</div>

<div class="modal fade" id="modal"  role="dialog" aria-labelledby="modal">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="modal_title"></h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="modal_body"></div>
            <div class="modal-footer" id="modal_footer"></div>
        </div>
    </div>
</div>

{{#extend "js"}}
<script src="/public/modules/favorites/favorites.js"></script>
<script src="/public/modules/products/defaultPro.js"></script>

{{/extend}}