{{!< layout/default}}

{{#extend "css"}}
<link rel="stylesheet" type="text/css" href="/public/modules/favorites/favorites.css">
{{/extend}}


<div class="container-fluid">
    <h2>Lista de Favoritos</h2>
    <hr>
    <!-- <a id="infos-up" href="#">
        <i class="fas fa-chevron-up fa-2x"></i>
    </a>
    <a href="" id="numPage0"><span>#</span></a> -->

    <ul>
        <li class="listFav">No hay productos seleccionados</li>
    </ul>

    <!-- <a href="" id="numPage"><span>#</span></a>
    <a id="infos-down" href="#">
        <i class="fas fa-chevron-down fa-2x"></i>
    </a> -->
</div>

{{#extend "js"}}
<!-- <script src="/public/modules/info/info.js"></script> -->
{{/extend}}