{{!< layout/default}}

{{#extend "css"}}
<link rel="stylesheet" type="text/css" href="/public/modules/info/info.css">
{{/extend}}


<div class="container-fluid">
    <br>
    <a id="products-up" href="#">
        <i class="fas fa-chevron-up fa-2x"></i>
    </a>
    <div class="row" id="info-it-container"> <!--info itereichon-->
        <!-- <div class="col-md-2"></div>
        <div class="col-md-8">

        </div>
        <div class="col-md-2"></div> -->
        <div class="col-md-2"></div>
        <div class="col-md-8">

            <div class="card col-md-12">
                <h4>   Sucursal blabla</h4>
                <div class="card-body">
                    <div class="row">
                    <div class="col-md-6">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item"><i class="fa fa-map-marker" aria-hidden="true"></i>
                                Alberto Pepper 1610, Renca. Santiago, Chile</li>
                            <li class="list-group-item"><i class="fa fa-phone fa-flip-horizontal" aria-hidden="true"></i> +562 2685 1000</li>
                            <li class="list-group-item" ><i class="fab fa-whatsapp"></i> <a href="tel:+569 8997 0430">Llamar</a><span>|</span><a href="tel:+569 8997 0430"> Llamar</a><span>|</span><a href="tel:+569 8997 0430">| Llamar</a>  <a href="tel:+569 8997 0430">| Llamar</a> </li>
                            <li class="list-group-item"><a target="_blank"><i class="fas fa-envelope"></i> ¿Necesitas Ayuda?</a></li>
                        </ul>
                    </div>
                    <div class="col-md-6 map">
                        <iframe class="responsive-iframe" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d13322.584296789188!2d-70.6866962!3d-33.4063967!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x96ee8fb1f2a04b14!2sProdalam!5e0!3m2!1ses!2scl!4v1617843136037!5m2!1ses!2scl" width="300" height="180" style="border-radius: 30px; border: none;" allowfullscreen="" loading="lazy"></iframe>
                    </div>
                </div>
                </div>
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>
    <a id="products-down" href="#">
        <i class="fas fa-chevron-down fa-2x"></i>
    </a>
</div>

{{#extend "js"}}

{{/extend}}