{{!< layout/default}}

{{#extend "css"}}
<link rel="stylesheet" type="text/css" href="/public/modules/info/info.css">
{{/extend}}


<div class="container-fluid">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <form action="/info" class="g-3">
                <input name="search" autofocus style="margin-top: 30px;" id="searchInfo" class="form-control form-control-lg" type="text" placeholder="Buscar tienda. Ej: copiapo" aria-label=".form-control-lg example">
            </form>
        </div>
        <div class="col-md-2"></div>
    </div>

    <br>
    <a id="infos-up" href="#">
        <i class="fas fa-chevron-up fa-2x"></i>
    </a>
    <a href="" id="numPage0"><span>#</span></a>

    <div class="row"> <!--info itereichon-->
        <div class="col-md-2"></div>

        <div class="col-md-8">
            <div class="row" id="info-it-container"></div>
        </div>

        <div class="col-md-2"></div>
    </div>

    <a href="" id="numPage"><span>#</span></a>
    <a id="infos-down" href="#">
        <i class="fas fa-chevron-down fa-2x"></i>
    </a>
</div>

{{#extend "js"}}
<script src="/public/modules/info/info.js"></script>
{{/extend}}