{{!< layout/default}}

{{#extend "css"}}
<link rel="stylesheet" type="text/css" href="/public/modules/home/home.css">
{{/extend}}

<div class="container-fluid">
    <br>
    <br>
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-4">
            <ul class="list-group list-group-flush">
                <li class="list-group-item"><i class="fa fa-map-marker" aria-hidden="true"></i>
                    Alberto Pepper 1610, Renca. Santiago, Chile</li>
                <li class="list-group-item"><i class="fa fa-phone" aria-hidden="true"></i> +562 2685 1000</li>
                <li class="list-group-item"><i class="fab fa-whatsapp"></i> WhatsApp: +569 8997 0430</li>
                <li class="list-group-item"><a href="https://ayuda.prodalam.cl/support/tickets/new" target="_blank"><i class="far fa-envelope"></i>
                    ¿Necesitas Ayuda?
                </a></li>
              </ul>
        </div>
        <div class="col-md-6">
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d13322.584296789188!2d-70.6866962!3d-33.4063967!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x96ee8fb1f2a04b14!2sProdalam!5e0!3m2!1ses!2scl!4v1617843136037!5m2!1ses!2scl" width="500" height="350" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
        </div>
    </div>

</div>

{{#extend "js"}}

{{/extend}}