{{!< layout/default}}

{{#extend "css"}}
<link rel="stylesheet" type="text/css" href="/public/modules/products/defaultPro.css">
{{/extend}}


<div class="container products-container">
    <div class="row">

        <div class="col-md-12 text-center">

            <a id="products-up" href="#">
                <i class="fas fa-chevron-up fa-2x"></i>
            </a>
            <a href="" id="numPage0"><span>#</span></a>

            <div class="row" id="product-it-container"> <!--  AQUI ITERAR  -->
            </div>
            <a href="" id="numPage"><span>#</span></a>
            <a id="products-down" href="#">
                <i class="fas fa-chevron-down fa-2x"></i>
            </a>

        </div>

    </div>
</div>

<div class="modal fade" id="modal"  role="dialog" aria-labelledby="modal">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="modal_title"></h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="modal_body"></div>
            <div class="modal-footer" id="modal_footer"></div>
        </div>
    </div>
</div>
{{#extend "js"}}
<script src="/public/modules/products/defaultPro.js"></script>
{{/extend}}