{{!< layout/no-loged}}

{{#extend "css"}}
<link rel="stylesheet" href="/public/modules/no_logged/restore.css">
{{/extend}}

<!--<img class="logo" src="/public/img/LogoCompleto.png" alt="">-->

<div id="restorePasswordCardContainer">
    <form method="post" action="/restore-password">
        <div id="restorePasswordCard" class="card text-white bg-primary mb-3 center">

            <div style="text-align: center;" class="card-body">

                <a href="/"><img class="logo" src="/public/img/LogoCompleto.png" alt=""></a> 

                <h3><b>Ingresa tu Email, luego sigue las instrucciones que serán enviadas a tu correo.</b></h3>

                <!--<p>Enviaremos un enlace a tu correo para que puedas cambiar tu contraseña</p>-->

                <div class="form-group restore-form">

                    <div class="form-group">
                        <div class="input-group mb-3">
                            <input name="email" id="email" type="text" class="form-control" aria-label="rut" placeholder="Tu Email">
                        </div>
                    </div>

                </div>
            </div>

            {{#if message}}
                <div class="alert alert-dismissible alert-{{responseType}}">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    {{message}}
                </div>
            {{/if}}

            <div id="restorePasswordCardFooter">
                <button type="submit" class="btn btn-block" style="text-decoration: none;">Cambiar mi contraseña</button> 
            </div>

        </div>

    </form>
</div>

{{#extend "js"}}

{{/extend}}