{{!< layout/no-loged}}

{{#extend "css"}}
<link rel="stylesheet" href="/public/modules/restore-password/style.css">
{{/extend}}

<!--<img class="logo" src="/public/img/LogoCompleto.png" alt="">-->

<div id="restorePasswordCardContainer">
    <form method="post" action="/restore-password-step-2?token={{restorePasswordToken}}">
        <div id="restorePasswordCard" class="card text-white bg-primary mb-3 center">
            <a href="/login"> <i class="fas fa-arrow-left"></i> Volver a iniciar sesion</a>
            <div style="text-align: center;" class="card-body">

                <a href="/"><img class="logo" src="/public/img/LogoCompleto.png" alt=""></a>

                <h3><b>Hola {{name}}</b></h3>

                <h4>Ingresa tu nueva contraseña</h4>

                <div class="form-group restore-form">

                    <div class="form-group">
                        <div class="input-group mb-3">
                            <input name="password1" type="password" class="form-control" aria-label="password1" placeholder="Nueva contraseña">
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="input-group mb-3">
                            <input name="password2" type="password" class="form-control" aria-label="password2" placeholder="Repite la contraseña">
                        </div>
                    </div>

                </div>
            </div>

            {{#if message}}
                <div class="alert alert-dismissible alert-{{responseType}}">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    {{message}}
                </div>
            {{/if}}

            <div id="restorePasswordCardFooter">
                <button type="submit" class="btn btn-block" style="text-decoration: none;">Cambiar mi contraseña</button> 
            </div>

        </div>

    </form>
</div>

{{#extend "js"}}

{{/extend}}