@font-face {
    font-family: SFProDisplay-Bold;
    src: url('/public/fonts/SFProDisplay/SFProDisplay-Bold.ttf');
}
@font-face {
    font-family: SFProDisplay-Light;
    src: url('/public/fonts/SFProDisplay/SFProDisplay-Light.ttf');
}
@font-face {
    font-family: SFProDisplay-Medium;
    src: url('/public/fonts/SFProDisplay/SFProDisplay-Medium.ttf');
}
@font-face {
    font-family: SFProDisplay-Regular;
    src: url('/public/fonts/SFProDisplay/SFProDisplay-Regular.ttf');
}
@font-face {
    font-family: SFProDisplay-Semibold;
    src: url('/public/fonts/SFProDisplay/SFProDisplay-Semibold.ttf');
}
:root {
    --blue: #005EB8;
    --dark:#222222;
    --grey: #f8f8f8;
    --white: #FFFFFF;
    --dark1: #292929;
}
html {
    height: 100%;
    margin: 0;
    padding: 0;
}
body {
    font-family: SFProDisplay-Light;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color:var(--white);
    font-weight: lighter;
}

input{
    font-style: italic;
}

.input-group>.form-control{
    position: relative;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    width: 1%;
    min-width: 0;
    border-radius: 30px;
    margin-bottom: 0;
    margin-top: 20px;
}

#loginCardContainer {
    font-family: SFProDisplay;
    height: 100% !important;
    display: flex;
    justify-content: center;
    align-items: center;
}
.uno{
    padding-top: 100px;
}
#loginCard {
    font-family: SFProDisplay-Semibold;
    width: 23rem;
    height: 100% !important;
    background-color:  var(--grey) !important;
    border-radius: 10px;
    /* -webkit-box-shadow: 7px 3px 18px 14px rgba(0,0,0,0.26);
    -moz-box-shadow: 7px 3px 18px 14px rgba(0,0,0,0.26);
    box-shadow: 7px 3px 18px 14px rgba(0,0,0,0.26); */
}

#loginCardFooter {
    font-family: SFProDisplay-Light;
    font-size: 20px;
    padding: 0;
    margin: 0;
    height: 70px;
    color: var(--white);
    display: flex;
    justify-content: center;
}
.card-header{
    background-color: var(--white);
}
.form-group button {
    color: #838383;
    border: 1px solid #838383;
    border-radius: 50px;
    font-size: 20px;
    font-weight: bold;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 20px;
}

.form-group button:hover {
    /* font-family: SFProDisplay-Bold; */
    cursor: pointer;
    /* font-size: 21px; */
}
label{
    font-family: SFProDisplay-Light;
    color: var(--dark);
}
/* a {
    color:var(--dark);
}
a:hover{
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: var(--dark);
} */
@media (max-width: 600px) {
    #loginCard {
        font-family: SFProDisplay-Light;
        height: 100% !important;
        width: 100% !important;
        max-width: 100% !important;
        margin: 0px;
    }

    #loginCardFooter {
        font-family: SFProDisplay-Light;
        font-size: 20px;
        bottom: 0;
        margin-top: 40px;
    }

    #loginCardContainer {
        font-family: SFProDisplay-Light;
        height: 100% !important;
        display: block;
    }

    #loginCardContainer form {
        font-family: SFProDisplay-Light;
        height: 100% !important;
    }
}

.logo {
    width: 60%;
    margin-bottom: 40px;
    border-radius: 15%;
}

input {
    font-family: SFProDisplay-Light;
    background-color:  var(--white) !important;
    color: var(--dark1) !important;
    border: 50px !important;
    text-align: center;
}
.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border-radius: .25rem;
    border: none;
}
.alert-dismissible .close {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    color: inherit;
    margin: -5px;
    margin-right: -5px;
}