@font-face { 
    font-family: SFProDisplay; 
    src: url('/public/fonts/SFProDisplay.ttc');
    font-weight: lighter;
}
:root {
    --blue: #005EB8;
    --dark:#222222;
    --grey: #e3e3e3;
    --white: #FFFFFF;
    --dark1: #292929;
}
html {
    height: 100%;
    margin: 0;
    padding: 0;
}
body {
    font-family: SFProDisplay;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color:var(--blue);
    font-weight: lighter;
}

#loginCardContainer {
    font-family: SFProDisplay;
    height: 100% !important;
    display: flex;
    justify-content: center;
    align-items: center;
}

#loginCard {
    font-family: SFProDisplay;
    width: 23rem;
    height: 100% !important;
    background-color:  var(--grey) !important;
    border-radius: 10px;
    -webkit-box-shadow: 7px 3px 18px 14px rgba(0,0,0,0.26);
    -moz-box-shadow: 7px 3px 18px 14px rgba(0,0,0,0.26);
    box-shadow: 7px 3px 18px 14px rgba(0,0,0,0.26);
}

#loginCardFooter {
    font-family: SFProDisplay;
    font-size: 20px;
    padding: 0;
    margin: 0;
    border-top: 1px #dc952f solid;
    height: 70px;
}

#loginCardFooter button {
    font-family: SFProDisplay;
    background-color: #dc952f;
    color: var(--dark);
    height: 70px;
    font-size: 20px;
    padding: 0;
}

#loginCardFooter button:hover {
    font-family: SFProDisplay;
    cursor: pointer;
    font-size: 21px;
}
label{
    font-family: SFProDisplay;
    color: var(--dark);
}
a {
    color:var(--dark);
}
a:hover{
    font-family: SFProDisplay;
    text-decoration: none;
    color: var(--dark);
}
@media (max-width: 600px) {
    #loginCard {
        font-family: SFProDisplay;
        height: 100% !important;
        width: 100% !important;
        max-width: 100% !important;
        margin: 0px;
    }

    #loginCardFooter {
        font-family: SFProDisplay;
        font-size: 20px;
        bottom: 0;
    }

    #loginCardContainer {
        font-family: SFProDisplay;
        height: 100% !important;
        display: block;
    }

    #loginCardContainer form {
        font-family: SFProDisplay;
        height: 100% !important;
    }
}

.logo {
    width: 60%;
    margin-bottom: 40px;
    border-radius: 15%;
}

input {
    font-family: SFProDisplay;
    background-color:  var(--white) !important;
    color: var(--dark1) !important;
    border: 50px !important;
    text-align: center;
}