/* .product-modal {
    width: 100%;
    min-height: 200px;
    border-radius: 30px;
    background-color: #444444;
    padding-bottom: 20px;
} */

.btn-custom .contactBtn {
    color: var(--grey1);
    border: 1px solid var(--grey1);
    border-radius: 50px;
    font-size: 20px;
    font-weight: bold;
    padding-left: 20px;
    padding-right: 20px;
    float: left;
    margin-left: 25px;
}
.modal-body {
    position: relative;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1rem;
    padding-left: 50px;
    padding-right: 50px;
}
.col-2 {
    -ms-flex: 0 0 8.333333%;
    flex: 0 0 8.333333%;
    max-width: 8.333333%;
    display: flex;
}


.product-modal .textDescription{
    font-family: SFProDisplay-Light;
    color: #444444;
    font-size: small;
    text-align: left;
    margin-left: 25px;
}

.product-modal h2 {
    /* font-size: x-large; */
    margin-top: 20px;
    font-size: 25px;
    text-align: left;
    margin-left: 25px;
    color: #291D29;
}
.product-modal h5 {
    font-family: SFProDisplay-Light;
    text-align: left;
    margin-left: 25px;
    color: #444444;
}

.product-modal img {
    width: 90%;
    height: 150px;
    border-radius: 30px;
    padding: 0;
}

#categories-left {
    color: var(--orange);
    display: flex;
    justify-content: center;
    align-items:center;
}
#categories-right {
    color: var(--orange);
    display: flex;
    justify-content: space-between;
    align-items:center;
}
.product-modal .col-md-6.uno{
    font-family: SFProDisplay-Medium;
    width: 100%;
    min-height: 200px;
    border-radius: 30px;
    background-color: #e3e3e3;
    padding-bottom: 20px;

}