@font-face {
    font-family: SFProDisplay-Bold;
    src: url('/public/fonts/SFProDisplay/SFProDisplay-Bold.ttf');
}
@font-face {
    font-family: SFProDisplay-Light;
    src: url('/public/fonts/SFProDisplay/SFProDisplay-Light.ttf');
}
@font-face {
    font-family: SFProDisplay-Medium;
    src: url('/public/fonts/SFProDisplay/SFProDisplay-Medium.ttf');
}
@font-face {
    font-family: SFProDisplay-Regular;
    src: url('/public/fonts/SFProDisplay/SFProDisplay-Regular.ttf');
}
@font-face {
    font-family: SFProDisplay-Semibold;
    src: url('/public/fonts/SFProDisplay/SFProDisplay-Semibold.ttf');
}


.backToTop {
    width: 100%;
    background-color: #005EB8;
    text-align: center;
    text-decoration: none;
    color: white;
    font-family: SFProDisplay; 
    font-weight: normal;
    border-radius: 0;
    margin: 0;
    padding-top: 10px;
    padding-bottom: 10px;
}
.bg-light {
    background-color: #dc952f!important;
}

#userCredentialsDropdown{
    min-width: 150px;
}
.navbar {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding-top: .0rem;
    padding-bottom: .5rem;
}
/* .backToTop:hover {
    color:#dc952f;
} */
.container-fluid{
    padding-bottom: 20px;
    background-color: #005EB8;
}