.product-modal {
    width: 100%;
    min-height: 200px;
    border-radius: 30px;
    background-color: #ffffff;
    padding-bottom: 20px;
}

.btn-custom3 {
    color: var(--grey1);
    border: 1px solid var(--grey1);
    border-radius: 50px;
    font-size: 20px;
    font-weight: bold;
    padding-left: 20px;
    padding-right: 20px;
    float: left;
    margin-left: 20px;
}
.modal-body {
    position: relative;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1rem;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 50px;
}
.col-2 {
    -ms-flex: 0 0 8.333333%;
    flex: 0 0 8.333333%;
    max-width: 8.333333%;
    display: flex;
}
.col-lg-3{
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    padding-bottom: 20px;
}
.addToFavBtn {
    background: #025DB8;
    text-align: center;
    color: white;
    border: none;
    position: absolute;
    right: 30px;
    /* display: none; */
}

.addToFavBtn:hover {
    color: white;
}
.title1 {
    margin-top:50px;
    margin-bottom:30px;
    color: var(--grey1);
    font-weight: bold;
    text-align: center;
}
.spanUno{
    padding-bottom: 10px;
    padding-top: 15px;
    font-family: SFProDisplay-Medium;
    color: #222220;
}
.product-modal .textDescription{
    font-family: SFProDisplay-Light;
    color: #444444;
    font-size: small;
    text-align: left;
    margin-left: 20px;
}

.product-modal h2 {
    /* font-size: x-large; */
    margin-top: 20px;
    font-size: 25px;
    text-align: left;
    margin-left: 20px;
    color: #291D29;
}
.product-modal h5 {
    font-family: SFProDisplay-Light;
    text-align: left;
    margin-left: 20px;
    color: #444444;
    margin-bottom: 20px;
}

.product-modal img {
    width: 80%;
    height: 430px;
    /* border-radius: 30px; */
    padding: 0;
    margin-top: 15px;
}

#categories-left {
    color: var(--orange);
    display: flex;
    justify-content: center;
    align-items:center;
    text-decoration: none;
}
#categories-right {
    color: var(--orange);
    display: flex;
    justify-content: space-between;
    align-items:center;
    text-decoration: none;
}
.product-modal .col-lg-6.uno{
    font-family: SFProDisplay-Medium;
    width: 100%;
    min-height: 200px;
    border-radius: 30px;
    background-color:#e4e4e4;
    padding-bottom: 20px;
    padding: 10px;
}

/* products */

.products-container {
    margin-top: 50px;
    margin-bottom: 50px;
}

.product-item-container {
    width: 100%;
    padding: 10px;
}

.btn-custom {
    color: var(--grey1);
    border: 1px solid var(--grey1);
    border-radius: 50px;
    font-size: 20px;
    /* font-weight: bold;
    padding-left: 20px;
    padding-right: 20px; */
    float: left;
    margin-left: 25px;
}
.btn-custom2 {
    color: var(--grey1);
    border: 1px solid var(--grey1);
    border-radius: 50px;
    font-size: inherit;
}
.product-item {
    width: 100% !important;
    min-height: 200px !important;
    border-radius: 30px;
    background-color: #E3E3E3;
    padding-bottom: 20px;
}

.product-item .text-product{
    font-family: SFProDisplay-Light;
    color: #444444;
    font-size: small;
    text-align: left;
    margin-left: 25px;
}

.product-item h2 {
    /* font-size: x-large; */
    margin-top: 20px;
    font-size: 25px;
    text-align: left;
    margin-left: 25px;
    color: #291D29;
}

.product-item h5 {
    font-family: SFProDisplay-Light;
    text-align: left;
    margin-left: 25px;
    color: #444444;
}

.product-img-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 0;
}
.product-img-modal {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    padding: inherit;
    min-width: fit-content;
    min-height: 390px;
    border: none;
}
.product-img-container img {
    height: 200px;
}

.product-item img {
    width: 90%;
    height: 150px;
    border-radius: 30px;
    padding: 0;
}

#products-up {
    color: var(--orange);
    text-decoration: none;
}

#products-down {
    color: var(--orange);
    text-decoration: none;
}
#numPage0{
    color: var(--orange);
    display: flex;
    justify-content: center;
    text-decoration: none;
}
#numPage{
    color: var(--orange);
    display: flex;
    justify-content: center;
    text-decoration: none;
}
.product-item a {
    font-family: SFProDisplay-Semibold;
}

/* .product-item p{
    width: 200px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
} */
.card-body-custom {
    text-align: center !important;
    color: var(--grey1);
    background-color: #f8f8f8;
}

.card-product-title {
    font-weight: bold;
}

.card-product-description {
    font-family: SFProDisplay-Light;
}

.card-body-custom img {
    border-radius: 0px !important;
    margin-bottom: 5px;
}

.infoItem {
    background: #E3E3E3 !important;
    border: none;
}

.table td{
    padding: .30rem;
    vertical-align: top;
    border-top: none;
    color: #444444;
    font-family: SFProDisplay-Light;
    /* border-top: 1px solid #dee2e6; */
}
.table-responsive {
    display: block;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    margin-left: 16px;
}