.list-group-item {
    background-color: #E3E3E3;
}
h4 {
    font-size: 1.5rem;
    padding-left: 5px;
}
.card-body{
    border: none;
    border-radius: 30px;
    background-color: #E3E3E3;
}
.card{
    border:none;
}
#products-up {
    color: var(--orange);
    display: flex;
    justify-content: center;
}

#products-down {
    color: var(--orange);
    display: flex;
    justify-content: center;
}

.responsive-iframe {
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
}

.col-md-6.map{
    margin-top: 20px;
}