.categories-container {
    margin-top: 50px;
    margin-bottom: 50px;
}

.category-item-container {
    width: 100%;
    padding: initial;
    padding-inline: 15px;
    padding-bottom: 20px;
    padding-top: 25px;
}
#numPage{
    color: var(--orange);
    display: flex;
    justify-content: center;
}
#numPage0{
    color: var(--orange);
    display: flex;
    justify-content: center;
}
.category-item {
    width: 100%;
    height: 200px;
    border-radius: 30px;
    background-repeat: no-repeat;
    background-size: cover;
}

.category-item h2 {
    position: absolute;
    bottom: 30px;
    right: 40px;
    color: white;
    text-align: right;
    padding-left: 1px;
}

#categories-up {
    color: var(--orange);
}

#categories-down {
    color: var(--orange);
}