<!DOCTYPE html>
<html lang="es">
{{! Document Layout}}

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Administración</title>
  <link rel="stylesheet" href="/public/css/select2.min.css">
  <link rel="stylesheet" href="/public/css/toastr.min.css">
  <link rel="stylesheet" href="https://cdn.datatables.net/1.10.24/css/jquery.dataTables.min.css">
  <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css"> -->
  <link rel="stylesheet" href="/public/bootstrap-4.5.3-dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="/public/fontawesome-free-5.15.2-web/css/all.min.css">
  <link rel="stylesheet" type="text/css" href="/public/modules/admin/admin-nav.css">

  {{#block "css"}}
  {{/block}}
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">
      <img src="/public/img/LOGO_CATALOGO.png" alt="" width="150" height="70">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor03">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item dropdown mainNav">
          <a class="nav-link dropdown-toggle" href="#" id="configurationsDropdown" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-cog"></i></span> Administración
          </a>

          <div id="configurationsDropdown" style="z-index:2000;" class="dropdown-menu"
            aria-labelledby="configurationsDropdown">
            {{#if admin}}
            <a class="dropdown-item" href="/users"><i class="fas fa-users"></i> Usuarios</a>
            <div class="dropdown-divider"></div>
            {{/if}}
            <a class="dropdown-item" href="/admin"><i class="fas fa-boxes"></i> Productos</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/banner"><i class="fas fa-image"></i> Banner</a>
          </div>
        </li>
        <li class="nav-item dropdown mainNav">
          <a class="nav-link dropdown-toggle" href="#" id="userCredentialsDropdown" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-user"></i> <span id="userCredentials"> {{ credentials.name }} {{ credentials.lastname }}</span>
          </a>

          <div id="credentialsDropdownMenu" style="z-index:2000;" class="dropdown-menu"
            aria-labelledby="userCredentialsDropdown">
              <!-- <a class="dropdown-item" href="/account"><i class="fas fa-user"></i> Cuenta</a>
              <div class="dropdown-divider"></div> -->
            <a class="dropdown-item" href="/logout"><i class="fas fa-times"></i> Cerrar sesión</a>
          </div>
        </li>
      </ul>
    </div>
  </nav>
  {{{ content }}}
  <div id="loadingScreen">
    <div>
      <img src="/public/img/Loading.svg" alt="loading">
      <h3>Cargando...</h3>
    </div>
  </div>

  <script src="/public/js/jquery-3.2.1.slim.min.js"></script>
  <script src="/public/modules/default/tools.js"></script>
  <script src="/public/js/popper.min.js"></script>
  <script src="/public/js/jquery-3.5.1.min.js"></script>
  <script src="/public/DataTables/datatables.min.js"></script>
  <script src="/public/bootstrap-4.5.3-dist/js/bootstrap.bundle.min.js"></script>
  <script src="/public/js/rut.min.js"></script>
  <script src="/public/axios/axios.min.js"></script>
  <script src="/public/js/rut.min.js"></script>
  <script src="/public/js/moment.min.js"></script>
  <script src="/public/js/toastr.min.js"></script>
  <script src="/public/js/select2.min.js"></script>

  <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script> -->
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10.16.0/dist/sweetalert2.all.min.js"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/exceljs/4.2.1/exceljs.min.js"></script>

  {{#block "js"}}
  {{/block}}
</body>

</html>